/*Styling for the entire HTML page for a consistent look.*/
html, body {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

h3, h4 {
  font-weight: bold;
}

/*Styling for the tables.*/
.table {
  background-color: #f9f9f9;
  border: 2px solid #ccc;   
  max-width: 700px; 
  margin: 0 auto; 
}

.table th, .table td {
  border: 1px solid #ccc;  
  padding: 12px;
}

/*Styling for the services and pricing section.*/
.services {
  background-image: url("servicesbg.jpg"); 
  background-size: cover;     
  background-position: center; 
  background-repeat: no-repeat;
  padding: 40px 0;           
}